

<h1>Order details</h1>
<ul>
    <li>ID: [[ID_VALUE]]</li>
    <li>Full name: [[FULL_NAME]]</li>
    <li>Pizza: [[PIZZA_NAME]]</li>
    <li>Price: [[PRICE_VALUE]]</li>
    <li>Delivered: [[IS_DELIVERED]]</li>
</ul>